@import './tokens.css';
@import './reset.css';

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-gray-900);
  background-color: var(--color-white);
  min-width: 1200px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
