.primary-nav {
  height: var(--nav-height);
  background-color: var(--color-white);
  border-bottom: var(--border-width) solid #E5E5DC;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: transform 0.3s ease;
}

.primary-nav--hidden {
  transform: translateY(-100%);
}

.primary-nav__container {
  width: 100%;
  padding: 8px 27px 8px 38px;
  display: flex;
  align-items: center;
  position: relative;
}

.primary-nav__logo {
  display: flex;
  align-items: center;
  color: var(--color-gray-900);
  flex-shrink: 0;
}

.primary-nav__logo-image {
  height: 36px;
  width: auto;
}

.primary-nav__items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
  align-items: center;
}

.gs-trigger {
  margin-left: auto;
}

.primary-nav__item {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight-semibold);
  color: var(--neutral-plain-color);
  padding: 8px 12px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: all var(--transition-fast);
  white-space: nowrap;
}

.primary-nav__item:hover {
  background-color: #E5E5DC;
}

.primary-nav__item--active {
  background-color: #DCDACD;
}
