.data-browser-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.data-browser-page__main {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.data-browser-page__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  min-height: calc(100vh - var(--nav-height));
  overflow: hidden;
}

.data-browser-page__panels {
  display: flex;
  height: calc(100vh - 265px);
  min-height: 500px;
}
