.data-browser-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.data-browser-page__main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.data-browser-page__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  min-width: 0;
  overflow: hidden;
}

.data-browser-page__panels {
  display: flex;
  flex: 1;
  min-height: 0;
}
